body{
  background: forestgreen;
  color: white;
  h2{
    transform: translateX(10px) rotateZ(10deg);
    color: red;
    opacity: .5;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}